:host {
    font-family: Helvetica Neue, Helvetica, Arial;
    font-size: 24px;
    color: #333;
    display: block;
    height: 180px;
    width: 300px;
    overflow: hidden;
    position: relative;
}
.container {
    overflow: hidden;
}

.display {
    height: 30px;
    border: 1px solid #f0f0f0;
    text-align: right;
    margin: 10px;
    padding: 0 5px;
}

.buttons {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.button {
    cursor: pointer;
    float: left;
    height: 40px;
    text-align: center;
    width: 25%;
    position: relative;
}
.button span {
    position: absolute;
    height: 100%;
    left: 0;
    top: 50%;
    line-height: 24px;
    margin-top: -12px;
    width: 100%;
}

.button:hover {
    background: #e0f0ff;
}

.button.large {
    width: 66.6%;
}

.actions {
    margin: 10px;
    overflow: hidden;
}

.numbers {
    float: left;
    width: 60%;
}

.operators {
    margin-left: 60.5%;
}

.operators li {
    width: 33.3%;
}

.light-theme.container {
    background: #fff;
    color: #333;
}

.light-theme .button {
    background: #f0f0f0;
    box-shadow: 0 0 0 1px #fff;
}

.light-theme .numbers {
    box-shadow: 0 0 0 1px #fff;
}

.light-theme .button:hover {
    background: #e5f0ff;
}


.dark-theme.container {
    background: #333;
    color: #f0f0f0;
}

.dark-theme .button {
    background: #444;
    box-shadow: 0 0 0 1px #333;
}

.dark-theme .numbers {
    box-shadow: 0 0 0 1px #333;
}

.dark-theme .button:hover {
    background: #666;
}

